.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App h2 {
    margin-top: 8rem;
  }
  
  .select-wrapper {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .select-container {
    width: 250px;
  }
  
  .graph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.file-uploader {
    &__input {
        cursor: pointer;
    }
}

svg {
  filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

.pie {
  margin: 20px;
}

.pie text {
  font-family: "Verdana";
  fill: #888;
  background-color: red;
}

.pie .name-text{
  font-size: 1em;
  transition: all .2s ease-in-out;
}

.pie .value-text{
  font-size: 2em;
}

.pie-centre {
  opacity: 0.2;
}

.pie-arc {
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 0.8;
    margin: 10px;
    transform: scale(1.2)
  }
}
  
  