.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h2 {
  margin-top: 8rem;
}

.select-wrapper {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.select-container {
  width: 200px;
}

.graph-container {
  display: flex;
  flex-direction: row;
}
